body  {
  text-align: center;
  font-family: Helvetica;
}
h1  {
  font-size: 70px;
  font-weight: bold;
}



ul  {
  list-style-type: none;
  padding: 0
}
ul, .title {
  color: white;
}
a {
  color:inherit;
}
a:hover  {
  color:inherit;
}
a:visited  {
  color:inherit;
}
