body  {
  font-family: Helvetica;
}
h1, h2, h3, p, #process{
    text-align: center;
}
h1  {
  font-size: 70px;
}
h2  {
  font-size: 32px;
}
h3  {
  font-size: 23px;
}
p {
  font-size: 14px;
}
ul {
  list-style-type: none;
  padding: 0;
  color: white;
}
li{
  font-size: 18px;
}
.header{
  margin-top: 1em;
  text-align: center;
}
#footer{
  background-color: dimgray;
}
.footeritem, .trademark {
  margin-bottom: 0em;
  display: inline;
}
.trademark{
  font-size: 11px;
}

.title, .midstrip{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-position: 20%;
  background-repeat: no-repeat;
}
a {
  color:inherit;
}
a:hover  {
  color:inherit;
}
a:visited  {
  color:inherit;
}
